@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ทั่วไปทั้งหมด */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
}

html {
    font-size: 16px;
}

.head-contain-font {
    font-size: 60px;
}

.form-control {
    padding: 0 .75rem;
    line-height: 38px;
}

.img-banner {
    width: 100%;
    height: 100%;
}
.box-banner {
    width: 100%;
    height: 240px;
    /*min-height: 240px;*/
    /*max-height: 245px;*/
}

.head-title{
    height: 100px;
}

/* จบทั่วไปทั้งหมด */

/* .container { */
/* max-width: 1110px; */
/* margin: 0 auto; */
/* } */

/* section header เมนู */
/* header {
    height: 1920px;
    background-position: center bottom 50px;
} */

nav {
    height: 120px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    width: 734px;
    height: 24px;
    /* border: 1px solid red; */
    justify-content: space-between;
}

/* nav ul li{
        margin-right: 50px;
    } */

nav ul li a {
    color: #777777;
    text-decoration: none;
}

.logo {
    text-align: center;
    width: 15em;
    /*height: 80px;*/
}

.logo-footer {
    width: 80%;
    height: 110px;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.bg-nav-collapse {
    background: #E5E5E5;
}

/* จบ section header เมนู */

/* section header banner */
section.banner .banner-images {
    text-align: center;
    width: 100%;
    height: 550px;
}

.banner-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* จบ section header banner */

/* section what-wedo */
section.what-wedo {
    width: 100%;
    /* เดิม 816 px */
    height: 750px;
    background: url("../images/what-we-do-bg.svg");
    background-position-x: calc(50% - 38px);
    background-position-y: calc(20% - 40px);
    /* z-index: 100; */
    /*position: relative;*/
}

.what-wedo-core {
    width: 315px;
    display: flex;
    justify-content: space-between;
    /* padding: 50px; */
}

.what-wedo-info {
    padding-top: 216px;
}

.what-wedo-content {
    margin-top: 5px;
}

.what-wedo-content p {
    width: 632px;
    height: 109px;
    left: 408px;
    top: 985px;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #777777;
}

.what-wedo-title {
    text-align: center;
}

.what {
    font-style: normal;
    font-weight: 200;
    font-size: 60px;
    line-height: 91px;
    text-transform: uppercase;
}

.wedo {
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 91px;
    text-transform: uppercase;
}

.what-wedo-btn {
    margin-top: 29px;
}

.what-wedo-btn a {
    display: inline-block;
}

.readmore {
    width: 124px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    /* left: 18px;
    top: 10px; */
    /* padding: -0.5rem 1.5rem; */
    line-height: 40px;
    text-decoration: none;
    background: linear-gradient(
        114.56deg,
        #00a5e7 49.84%,
        rgba(0, 165, 231, 0) 108.73%
    ),
    #007ae8;
    border-radius: 30px;
}

.what-wedo-images {
    width: 420px;
    height: 311px;
    margin-top: 223px;
}

.what-wedo-images img {
    /* width: 100%; */
    height: 100%;
    margin-left: 65px;
    object-fit: cover;
}

/* จบ section what-wedo */

/* section our-service */
/*.our-service {*/
/*    width: 100%;*/
/*    min-height: 750px;*/
/*    background: url("../images/our-service-bg.jpg") no-repeat;*/
/*    background-position-x: calc(50% - -9px);*/
/*    background-position-y: calc(50% - 26px);*/
/*    !* z-index: 95; *!*/
/*    position: relative;*/
/*}*/

.our-service-top {
    width: 100%;
    min-height: 170px;
    background: url("../images/bg-service-top.svg") no-repeat;
    background-position-x: calc(50% - -9px);
    /*background-position-y: calc(50% - 26px);*/
    /* z-index: 95; */
    /*position: relative;*/
}
.our-service-contain {
    width: 100%;
    background: #FDFBFC;
    /*background-position-x: calc(50% - -9px);*/
    /*background-position-y: calc(50% - 26px);*/
    /* z-index: 95; */
    position: relative;
}

.our-service-bottom {
    width: 100%;
    min-height: 170px;
    background: url("../images/bg-service-bottom.svg") no-repeat;
    background-position-x: calc(50% - -9px);
    /*background-position-y: calc(50% - 26px);*/
    /* z-index: 95; */
    position: relative;
}

.our-service-title {
    margin-top: -147px;
    text-align: center;
}

.our {
    color: #000000;
    font-weight: 200;
    font-size: 60px;
    line-height: 91px;
    text-transform: uppercase;
}

.service {
    color: #000000;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 91px;
    text-transform: uppercase;
}

.our-service-core {
    padding-top: 115px;
    width: 1109px;
    height: 599px;
    display: flex;
    justify-content: space-between;
}

.our-service-info-left {
    width: 347px;
    height: 369px;
}

.our-service-title-left {
    margin-top: 47px;
    width: 347px;
    height: 48px;
    text-align: center;
}

.our-serv-tl {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.our-service-content-left {
    width: 347px;
    height: 102px;
    left: 406px;
    top: 1917px;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #777777;
}

.our-service-images-left {
    width: 255px;
    height: 193px;
    margin-left: auto;
    margin-right: auto;
}

.our-service-images-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.our-service-info-center {
    width: 420px;
    height: 404px;
    padding: 0px 2.5rem;
}

.our-service-title-center {
    width: 347px;
    height: 24px;
    left: 786px;
    top: 1627px;
    text-align: center;
}

.our-serv-tl {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.our-service-content-center {
    margin-top: 27px;
    width: 347px;
    height: 74px;
    left: 786px;
    top: 1678px;
}

.our-service-content-center p {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #777777;
}

.our-service-images-center {
    margin-top: 67px;
    width: 255px;
    height: 193px;
    margin-left: auto;
    margin-right: auto;
}

.our-service-images-center img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.our-service-info-right {
    width: 406px;
    height: 404px;
}

.our-service-title-right {
    margin-top: 50px;
    width: 348px;
    height: 48px;
    left: 1167px;
    top: 1866px;
    text-align: center;
}

.our-serv-tr {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.our-service-content-right {
    width: 347px;
    height: 78px;
    left: 1167px;
    top: 1917px;
}

.our-service-content-right p {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #777777;
}

.our-service-images-right {
    width: 255px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.our-service-images-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* จบ section our-service */

/* section our-client*/
.our-client {
    /*margin-top: -42px;*/
    /*margin-top: 50px;*/
    width: 100%;
    /*height: 100%;*/
    background: linear-gradient(180deg, #00A5E7 0%, rgba(0, 165, 231, 0) 100%), #007AE9;
    /*background: url("../images/our-client-bg.png") no-repeat;*/
    /*background-position-x: calc(50% - -9px);*/
    /*background-position-y: calc(50% - 0px);*/
    /* z-index: 96; */
    position: relative;
}

.our-client-core {
    padding-top: 67px;
}

.our-client-header-title {
    text-align: center;
}

.our-hct {
    color: #ffffff;
    font-weight: 200;
    font-size: 60px;
    line-height: 91px;
    text-transform: uppercase;
}

.service-hct {
    color: #ffffff;
    font-weight: 600;
    font-size: 60px;
    line-height: 91px;
    text-transform: uppercase;
}

.our-client-menu ul {
    display: flex;
    list-style: none;
    width: 1110px;
    height: 47px;
    border-bottom: 1px solid white;
    justify-content: space-between;
}

.our-client-menu ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.our-client-menu ul li a {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.our-client-product {
    padding-top: 93px;
    width: 100%;
    height: 693px;
    left: 410px;
    top: 2407px;
    grid-gap: 0px 36px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


/* OUR CLIENT บริษัท แพลน บี มีเดีย จำกัด (มหาชน) */
.our-client-product-left-top {
    width: 345px;
    height: 315px;
}

.our-client-images-left-top {
    width: 350px;
    height: 204px;
    margin-left: auto;
    margin-right: auto;
}

.our-client-images-left-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.our-client-title-left-top {
    padding-top: 57px;
    width: 350px;
    height: 42px;
}

.our-ctlt {
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* OUR CLIENT Major Group : Movie Happiness */
.our-client-product-center-top {
    width: 345px;
    height: 315px;
}

.our-client-images-center-top {
    width: 350px;
    height: 204px;
    margin-left: auto;
    margin-right: auto;
}

.our-client-images-center-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.our-client-title-center-top {
    padding-top: 57px;
    width: 350px;
    height: 42px;
}

.our-ctct {
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* OUR CLIENT jorakay E-commerce */
.our-client-product-right-top {
    width: 345px;
    height: 315px;
}

.our-client-images-right-top {
    width: 350px;
    height: 204px;
    margin-left: auto;
    margin-right: auto;
}

.our-client-images-right-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.our-client-title-right-top {
    padding-top: 57px;
    width: 350px;
    height: 42px;
}

.our-ctrt {
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* OUR CLIENT โรงแรม ศรีพันวา ภูเก็ต */
.our-client-product-left-down {
    width: 345px;
    height: 315px;
}

.our-client-images-left-down {
    margin-top: 37px;
    width: 350px;
    height: 204px;
    margin-left: auto;
    margin-right: auto;
}

.our-client-images-left-down img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.our-client-title-left-down {
    padding-top: 57px;
    width: 350px;
    height: 42px;
}

.our-ctld {
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* OUR CLIENT GMM Concert */
.our-client-product-center-down {
    width: 345px;
    height: 315px;
}

.our-client-images-center-down {
    margin-top: 37px;
    width: 350px;
    height: 204px;
    margin-left: auto;
    margin-right: auto;
}

.our-client-images-center-down img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.our-client-title-center-down {
    padding-top: 57px;
    width: 350px;
    height: 42px;
}

.our-ctcd {
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* OUR CLIENT Campaign Teapot */
.our-client-product-right-down {
    width: 345px;
    height: 315px;
}

.our-client-images-right-down {
    margin-top: 37px;
    width: 350px;
    height: 204px;
    margin-left: auto;
    margin-right: auto;
}

.our-client-images-right-down img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.our-client-title-right-down {
    padding-top: 57px;
    width: 350px;
    height: 42px;
}

.our-ctrd {
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* จบ section our-client*/


/* section our-client*/

section.logo-Client {
    margin-top: -28px;
    width: 100%;
    height: 717px;
    background: url("../images/logo-client-bg.png") no-repeat;
    background-position-x: calc(50% - -9px);
    background-position-y: calc(50% - -27px);
    /* z-index: 90; */
    position: relative;
}

/* จบ section logo-Client*/


/* section knowledge-sharing*/

.knowledge-sharing {
    margin-top: -230px;
    width: 100%;
    height: 800px;
    background: url("../images/knowledge-sharing-bg.png") no-repeat;
    background-position-x: calc(50% - -223px);
    background-position-y: calc(50% - 16px);
    /* z-index: 91; */
    position: relative;
}

.knowledge-sharing-title {
    width: 650px;
    height: 91px;
    text-align: center;
}

.txt-grey {
    color: #777777;
}


/* จบ section knowledge-sharing*/

